body {
    background-image: linear-gradient(to right, rgb(19, 7, 33),rgb(31, 16, 52) 50%,rgb(19, 7, 33));
}


.header-box{
    border: rgb(177, 135, 255) 2px solid; /* You can have custom colours instead of the chosen few by css, this gives you the freedom to really fine tune the overall design and colour scheme of the app */
    background-color: rgb(74, 44, 130);
    display: flex;                   /* display:flex , justify-content, align-items are sort of commands to inform the html where and how you want certain items, e.g text, images or buttons to be positioned on the app. These three "commands" can really alter an app without much work on our end */
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    height: 70px;
    margin-top: 30px;

}

h1{
    font-size: 60px;                     /* Changing the font type for certain parts of the app, plus could practise to demonstrate how to change a font within CSS */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: -4px;            /* Had to use top to move the text upward, so the font appears more centered within the box. Text's design has a fair amount of space above, creating a margin of sorts, not sure how to fully explain, either way it makes the text appear like is closer to the bottom, though the text overall is centered. */
    color: white;       /* The text's colour can be changed with this*/

}

.todo-task-bar{
    border: rgb(77, 157, 255) 2px solid;
    background-color: rgb(44, 83, 130);
    display: flex;              
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    height: 44px;
}

.wide-box{
    width: 300px;
    height: 25px
}

button{
    border: rgb(255, 255, 255) 2px solid;
    background-color: rgb(255, 255, 255);
    height:30px;
    color: rgb(0, 0, 0);
}

.todo-main-body{
    /* border: rgb(148, 0, 0) 2px solid; */ 
    /*Just leaving some of these in to show how I layed out the foundations of the app, using borders to illustrate where certain featuresare positioned on the app, before changing them to the proper colour scheme or making them invisible to user by commenting them out */
    display: flex;
    flex-direction:column;
    gap: 20px;
}

.gap-created{
    display:flex;
    flex-direction: column;
    gap:15px;
}

.four-box-plus-black{
    border: rgb(177, 135, 255) 2px solid;
    display: flex;
    flex-direction:column;
}

.four-box-plus-date{
    /* border:red 2px solid; */
    background-color: rgb(74, 44, 130);
    display: flex;
    flex-direction: row;
    height: 60px;
    padding:10px;
}

.two-box-container-1st{
    /* border: rgb(245, 255, 47) 2px solid; */
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 5px;
}

.two-box-container-2nd{
    /* border: rgb(0, 174, 255) 2px solid; */
    display: flex;
    flex-direction:row;
    margin-left: auto;
    align-items: center;
    gap: 20px;
    padding: 5px;
}

.todo-actual-task{
    /* border: rgb(255, 255, 255) 2px solid; */
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: -2px;
}

.todo-complete-container{
    /* border: rgb(13, 255, 0) 2px solid; */
    /* background-color: rgb(44, 83, 130); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:40px;
    color: white;
    margin: 5px;
}

.complete-container{
    /* border: yellow 2px solid; */
    display: flex;
    justify-content: center;
    height:20px;
    margin:0px;
    padding: 10px;
    margin-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: -2px;
}

.change-container{
    border: rgb(0, 142, 158) 3px solid;
    background-color: rgb(0, 142, 158);
    display: flex;
    align-items: center;
    margin:0px;
    padding: 10px;
}

.todo-edit-container{
    border: rgb(226, 143, 0) 2px solid;
    background-color: rgb(226, 143, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding: 10px;
}

.todo-delete-container{
    border: rgb(226, 0, 0) 2px solid;
    background-color: rgb(226, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding: 10px;
}


.todo-date-created{
    border: rgb(0, 0, 0) 2px solid;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    color: rgb(255, 255, 255);
}

.created-on-text{
    position: relative;
    top: -1px;
}

/* unvisited link */
a:link {
    color: rgb(255, 255, 255);
  }
  
  /* visited link */
a:visited {
    color: rgb(255, 255, 255);
  }

.handling-message{
    display: flex;
    justify-content: center;
    align-items: center;
    height:20px;
    color: white;
} 

.cancel-button{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}